*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore all of .idea except specific files
.idea/*
!.idea/modules.xml
!.idea/vcs.xml
!.idea/codeStyles/*
!.idea/runConfigurations/*
!.idea/inspectionProfiles/*

# Ignore machine-specific files
.idea/workspace.xml
.idea/gradle.xml
.idea/libraries/
.idea/tasks.xml
.idea/dictionaries/
.idea/misc.xml
